<%- include("templates/header") %>
<br>
<div id="Schedule"></div>
<script src="/assets/js/calendar.js"></script>
<a href="/bookAppointment" method="get"><button class="btn btn-primary px-0.5 mb-2 align-items-center justify-content-end mb-md-0" id="aptbtn">Book Appointment</button></a>
<%- include("templates/footer") %>