<%- include("templates/header") %><br>
    <h1 style='color:red'>Error!</h1>
    <div><%= error %> </div>
    <a href='/' method='get'><br><button>Back</button></a>
<%- include("templates/footer") %> 