<%- include("templates/header") %>
    <h1>Hello! Welcome to ChatBot AI</h1>
    <form action="/signup" action="get">
        <button class="btn btn-primary w-80 py-1" type="submit">Signup</button>
    </form>
    <form action="/login" action="get">
        <button class="btn btn-primary w-80 py-1" type="submit">Login</button>
    </form>
<%- include("templates/footer") %>