<%- include("templates/header") %>
<div class="chat-container">
  <div class="chat-history">
    <form action="/chat" method="POST">
      <% if (botMessage) { %>
      <div class="chat-message bot">
        <%= botMessage %>
      </div>
      <% } %>
      <% if (userMessage) { %>
      <div class="chat-message user">
        <%= userMessage %>
      </div>
      <% } %>
      </div>
      <div class="chat-input">
        <input name="message" type="text" placeholder="Type a message...">
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </form>
</div>
