<%- include("templates/header") %>
  <div class="chat-container">
    <div class="chat-history">
      <div class="chat-message bot">
        <!-- Bot message goes here -->
      </div>
      <div class="chat-message user">
        <!-- User message goes here -->
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
      <div class="chat-message bot">
        <div class="message">Chat Bot Message</div>
      </div>
      <div class="chat-message user">
        <div class="message">User Message</div>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" placeholder="Type a message...">
      <button class="btn btn-primary">Send</button>
    </div>
  </div>