<%- include("templates/header") %><br>
<h1>Incorrect password</h1>
<form action='/login' method='get'>
  <button>Try again</button>
</form>
<a href='/' method='get'><br><button>Back</button></a>
<%- include("templates/footer") %>