<%- include("templates/header") %>
    <br><br>
    <div class="container text-center">
        <form class="form-signin" action="sendResetLink" method="post">
            <img class="mb-4" src="/SchoolScopeAILogo.png" alt="" width="150" height="150">
            <h5>Please enter the email address associated with your account and
                we'll send you a link to reset your password. </h5>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
                required="" autofocus="">
            <br>
            <button class="btn btn-primary" type="submit">Send Reset Link</button>
        </form>
    </div>
    <script>
        function showAlert() {
            alert('Email sent successfully!');
        }
    </script>
<%- include("templates/footer") %>
