<%- include("templates/header") %>
    <br><br><br>
    <div class="container text-center">
        <form class="form-signin" action="/resetPassword" method="post">
            <img class="mb-4" src="/SchoolScopeAILogo.png" alt="" width="150" height="150">
            <input type="hidden" name="token" value="<%= token %>">
            <h5>Please enter your new password</h5>
            <input name="password" type="password" id="inputEmail" class="form-control"
                placeholder="Enter your new password" required="" autofocus="">
            <br>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>
<%- include("templates/footer") %>

