<%- include("templates/header") %><br>
<h1>Error: <%= error %> </h1>
    <form action = '/signup' method = 'get'>
        <br><button class="btn btn-primary rounded-pill px-3" type="submit">Try again</button>
    </form>
<%- include("templates/footer") %>