.navbar-custom {
    background-color: #003C71;
}

.navbar-custom .navbar-text {
    color: #003C71;
}

.btn {
    background-color: #003C71;
    border-radius: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 105px); /* Subtract header's height */
    margin-top: 22px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-history {
    border-radius: 10px;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    justify-content: flex-end;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    display: flex;
    justify-content: flex-end;
}

.chat-message.bot {
    display: flex;
    justify-content: flex-start;
}

.chat-message .message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
}

.chat-message.user .message {
    background-color: #003C71;
    color: white;
}

.chat-message.bot .message {
    background-color: #f1f0f0;
}

.chat-input {
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 10px;
    width: 10%;
    border-radius: 20px;
}

.typing-indicator {
    display: none;
    font-style: italic;
    color: #888;
    transition: 0.2s ease;
}

@media (max-width: 768px) {
    .chat-input input {
        width: 70%;
    }

    .chat-input button {
        width: 28%;
    }
}